{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Mot de passe" %}{% endblock %}

{% block content %}

<div class="container-fluid member-app text-black">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <h2 class="text-black">{% trans "Mot de passe modifié avec succès !" %}</h2>

            <br /><br />
            <a href="{% url 'index' %}" class="btn btn-primary">{% trans "Continuer" %} <i class="fas fa-chevron-right"></i></a>
            <br /><br />
        </div>
    </div>
</div>

{% endblock %}