{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Votre compte" %}{% endblock %}

{% block content %}

<div class="container-fluid member-app text-black">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <h2 class="text-black">{% trans "Vos informations de compte" %}</h2>
            <br />

            <form method="POST">
                <div class="form-group text-black">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <p><a href="{% url 'password_edit' %}" class="text-black">{% trans "Modifier votre mot de passe" %}</a></p>

                    <a href="{% url 'index' %}" class="btn btn-secondary">{% trans "Annuler" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Confirmer" %} <i
                            class="fas fa-chevron-right"></i></button>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>

{% endblock %}