{% extends 'base.html' %}
{% load i18n %}
{% block title %}BibliBoua{% endblock %}

{% block content %}
{% load static %}

<div class="container my-5" style="max-width: 500px;">
    <h2 class="mb-4 text-primary"><i class="fas fa-user-plus me-2"></i>{{ action_text }} {% trans "un auteur" %}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form}}

        <div>
            <a href="{% url 'author_list' %}" class="btn btn-outline-secondary mb-4">{% trans "Retour" %}</a>
            <input type="submit" value="{{ action_text }}" class="btn btn-primary" />
        </div>
    </form>
</div>

{% endblock %}
