{% extends 'base.html' %}
{% block title %}Démo Django{% endblock %}

{% block content %}
{% load static %}

<h2>Book List Header</h2>

<p>Book List</p>

{% if success_message %}
    <p style="color: green;">{{ success_message }}</p>
{% endif %}
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

<nav>
  <a href="{% url 'add_book' %}">Ajouter un livre</a>
</nav>

<ul>
  {% for book in books %}
    <li>{{ book.title }} écris par {{ book.author }} <a href="{% url 'book_details' book.id %}">Voir détails</a>
      <a href="{% url 'del_book' book.id %}">Suprimmer</a>
      <a href="{% url 'edit_book' book.id %}">Modifier</a>
    </li>
  {% empty %}
    <li>No books available.</li>
  {% endfor %}
</ul>   

<img src="{% static 'img/bib_boua.png' %}" alt="Bibliothèque" />

{% endblock %}