{% extends 'base.html' %}
{% block title %}Démo Django{% endblock %}

{% block content %}
{% load static %}

<h2>Edit Book</h2>

{% if success_message %}
<div class="alert alert-success" role="alert">
    {{ success_message }}
</div>
{% endif %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger" role="alert">
    {% for error in errors %}
        <div class="mb-1">- {{ error }}</div>
    {% endfor %}
</div>
{% endif %}


<a href="{% url 'book_list' %}">Retour</a>

<form method="post">
    {% csrf_token %}
    <textarea name="code" placeholder="Code" required>{{ book.code }}</textarea><br>
    <textarea name="title" placeholder="Title" required>{{ book.title }}</textarea><br>
    <input type="text" name="price" step="0.01" placeholder="Price" required value="{{ book.price }}"></input>
    <input type="date" name="date" placeholder="Date de publication" required value="{{ book.date|date:'Y-m-d' }}"></input><br>
    <textarea name="edition" placeholder="Edition" required>{{ book.edition }}</textarea><br>
    <select name="category" aria-placeholder="category" required>
        <option value="" disabled>Select a category</option>
        {% for cat in categories %}
            <option value="{{ cat.id }}" {% if book.category.id == cat.id %}selected{% endif %}>{{ cat }}</option>
        {% endfor %}
    </select>
    <select name="author" aria-placeholder="author" required>
        <option value="" disabled>Select an author</option>
        {% for auth in authors %}
            <option value="{{ auth.id }}" {% if book.author.id == auth.id %}selected{% endif %}>{{ auth }}</option>
        {% endfor %}
    </select>
    <textarea name="summary" placeholder="Summary">{{ book.summary }}</textarea><br>
    <button type="submit">Update Book</button>
</form>



{% endblock %}