{% extends 'base.html' %}
{% block title %}Démo Django{% endblock %}

{% block content %}
{% load static %}

<h2>Edit Book</h2>

{% if success_message %}
    <p style="color: green;">{{ success_message }}</p>
{% endif %}
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <textarea name="first_name" placeholder="Prénom" required>{{ author.first_name }}</textarea><br>
    <textarea name="last_name" placeholder="Nom" required>{{ author.last_name }}</textarea><br>
    <input type="date" name="birth_date" placeholder="Date de naissance" required value="{{ author.birth_date|date:'Y-m-d' }}"><br>
    <textarea name="nationality" placeholder="Nationnalité" required>{{ author.nationality }}</textarea><br>
    <button type="submit">Mettre à jour l'auteur</button>
</form>



{% endblock %}