{% extends 'base.html' %}
{% block title %}Démo Django{% endblock %}

{% block content %}
{% load static %}

<h2>Edit Book</h2>

{% if success_message %}
<div class="alert alert-success" role="alert">
    {{ success_message }}
</div>
{% endif %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger" role="alert">
    {% for error in errors %}
        <div class="mb-1">- {{ error }}</div>
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'author_list' %}">Retour</a>

<form method="post">
    {% csrf_token %}
    <textarea name="first_name" placeholder="Prénom" required>{{ author.first_name }}</textarea><br>
    <textarea name="last_name" placeholder="Nom" required>{{ author.last_name }}</textarea><br>
    <input type="date" name="birth_date" placeholder="Date de naissance" required value="{{ author.birth_date|date:'Y-m-d' }}"><br>
    <textarea name="nationality" placeholder="Nationnalité" required>{{ author.nationality }}</textarea><br>
    <button type="submit">Mettre à jour l'auteur</button>
</form>



{% endblock %}